<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-custom {
            background-color: #e3f2fd;
            height: 50px;
            display: flex;
            align-items: center;
        }

        .navbar-brand img {
            max-height: 75px;
            margin-top: -28px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-custom">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Account")</li>
                </ul>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

